@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root{
    --shadow: 0px 5px 20px 0px rgb(96 67 96 / 10%);
}

.m_8fb7ebe7:focus {
    border: 1px solid #50C5C8 !important;
    outline: none !important;
    box-shadow: var(--shadow) !important;
}

.m_8fb7ebe7:focus, .m_8fb7ebe7:focus-within {
    --input-bd: #50C5C8 !important;
}