@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

/* App.css or index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.mantine-Stepper-step {
  all: unset;
}

* {
  font-family: "Cairo", sans-serif !important;
}


/* Remove scrollbar background and arrows */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: transparent;
  /* Remove background */
}

::-webkit-scrollbar-track {
  background: transparent;
  /* No track background */
}

::-webkit-scrollbar-thumb {
  background-color: #50C5C8;
  /* Scrollbar color */
  border-radius: 0px;
  border: 1px solid transparent;
  /* Space around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #26A69A;
  /* Hover effect */
}

/* Hide scrollbar buttons (arrows) */
::-webkit-scrollbar-button {
  display: none;
}

/* Hide scrollbars completely on mobile devices */
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }

  /* For Firefox */
  * {
    scrollbar-width: none;
  }

  /* For IE and Edge */
  * {
    -ms-overflow-style: none;
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  33% {
    transform: translate(30px, -50px) scale(1.1);
  }

  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}